[submodule "Models"]
	path = Models
	url = https://github.com/AIPSE/Models.git
[submodule "AIPSELib"]
	path = AIPSELib
	url = https://github.com/AIPSE/AIPSELib.git
[submodule "Emissions"]
	path = Emissions
	url = https://github.com/AIPSE/Emissions.git
[submodule "MATSim-Extensions"]
	path = MATSim-Extensions
	url = https://github.com/AIPSE/MATSim-Extensions.git
[submodule "AIGent"]
	path = AIGent
	url = https://github.com/AIPSE/AIGent.git
